body{margin-left:300px;
  background-color:black;}
header{margin-left:250px;
font-size:40px;
font-family:courier;
color:lime;
font-style:bold;}
canvas{
  background-color:salmon;
  width:400px;
  height:200px;
  border:solid;
  border-color:lime;
}
#tx1{width:200px;
height:20px;}
#gr{height:28px;
  font-family:courier;
  margin-left:200px;
}